BODY
{
    font-family: Verdana;
    font-size: 20px;
    background-color: lightgray;

}

table 
{
    border-collapse:collapse; 
    table-layout:fixed; 
}

table td 
{
    border:solid 1px black; 
    word-wrap:break-word;
}

#header
{
    width:100%;
    height:50px;
}

.heading
{
    background-color: cornflowerblue;
    color: white;
    text-align: right;
    font-weight: bold;
}

ul.main
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: darkblue;
}

ul.main li 
{ 
    display: inline; 
    color: white;
}

ul.main li a
{
    text-decoration: none;
    color: white;
    background-color: darkblue;
}

ul.main li a:hover
{
    color: white;
    background-color: #369;
}

ul.main li + li:before {
    content: "| ";
}

iframe.main
{
    width:100%;
    height:100%
}
